# Find these in your Supabase project settings https://supabase.com/dashboard/project/_/settings/api
PUBLIC_SUPABASE_URL=https://xxxxxx.supabase.co
PUBLIC_SUPABASE_ANON_KEY=xxxxxx

DATABASE_URL="postgres://postgres:xxxxxx.supabase.co:5432/postgres"
SHADOW_DATABASE_URL="postgres://postgres:xxxxxx.supabase.co:5432/postgres_shadow"